<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>关于卷皮</title>
	<link rel="stylesheet" type="text/css" href="../css/aboutmine.css">
</head>
<body>
	<div class="back">
		<p>关于卷皮</p>
		<a href="javascript:history.back(-1)"><img src="../icon/arrow_white.png" class="back-home"></a>
	</div>
	<div class="aboutbox">
		<img src="../img/about-banner.jpg" class="banner">
		<p class="p">
			卷皮是国内领先的平价电商平台，专注服务更广泛群体的日常生活所需。以为用户提供美好的生活体验为使命，潜心用户生活质量研究，领先倡导经济实用主义美学，致力于成为品质消费的行业领导者.</p>
		<img src="../img/about-bot.jpg" class="bot">
		<img src="../img/tit-1.jpg" class="tit">
		<p class="p">
			所有合作商品都需先邮寄样品入库，职业验货师再对商品的包装、材质、细节、工艺等进行100%全检。 只有通过质检报告的商品才会与你相见。
		</p>
		<img src="../img/img-5.jpg" class="banner">
		<img src="../img/tit-1.jpg" class="tit">
		<p class="p">
			所有合作商品都需先邮寄样品入库，职业验货师再对商品的包装、材质、细节、工艺等进行100%全检。 只有通过质检报告的商品才会与你相见。
		</p>
		<img src="../img/img-5.jpg" class="banner">
		<img src="../img/tit-1.jpg" class="tit">
		<p class="p">
			所有合作商品都需先邮寄样品入库，职业验货师再对商品的包装、材质、细节、工艺等进行100%全检。 只有通过质检报告的商品才会与你相见。
		</p>
		<img src="../img/img-5.jpg" class="banner">
		<img src="../img/tit-1.jpg" class="tit">
		<p class="p">
			所有合作商品都需先邮寄样品入库，职业验货师再对商品的包装、材质、细节、工艺等进行100%全检。 只有通过质检报告的商品才会与你相见。
		</p>
		<img src="../img/img-5.jpg" class="banner">
		<img src="../img/tit-1.jpg" class="tit">
		<p class="p">
			所有合作商品都需先邮寄样品入库，职业验货师再对商品的包装、材质、细节、工艺等进行100%全检。 只有通过质检报告的商品才会与你相见。
		</p>
		<img src="../img/img-5.jpg" class="banner">
		<img src="../img/tit-1.jpg" class="tit">
		<p class="p">
			所有合作商品都需先邮寄样品入库，职业验货师再对商品的包装、材质、细节、工艺等进行100%全检。 只有通过质检报告的商品才会与你相见。
		</p>
		<img src="../img/img-6.jpg" class="bz">
		<h4>分享卷皮APP,领取20元优惠券</h4>
		<p class="p gray">给好友分享卷皮APP，好友可领取10元优惠券，领券并完成一笔订单后，您将获赠20元无门槛优惠券。
		<a href="">活动规则>></a></p>
		<span class="share">分享给好友</span>
		<p class="copy">©2010-2016 JuanPi.com All Rights Reserved
								</p>
	</div>
</body>
<script type="text/javascript">
		document.documentElement.style.fontSize = innerWidth/16 + 'px';
	window.onresize = function(){
		document.documentElement.style.fontSize = innerWidth/16 + 'px';
	}
</script>
</html>