<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>美妆个护</title>
	<link rel="stylesheet" type="text/css" href="../css/cosmetic.css">
</head>
<body>
	<div class="cosmetic_title">
     <a href="javascript:window.history.go(-1)" class="fontStyle">&#xe601;</a>
     <span>美妆个护</span>
    </div>
    <div class="cosmetic_goods">
       <ul>
           <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余22小时</span></p>
            <p>博姿小黄瓜保湿爽肤水</p>
           </li>
           <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
           <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li> 
           <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
            <li>
           <img class="lazy" data-original="http://s2.juancdn.com/bao/160913/f/d/57d74e14151ad1c0408b45d1_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg" alt="">
            <p><span>￥45</span><span>￥99</span><span>剩余2天</span></p>
           <p>博姿小黄瓜保湿爽肤水</p>
           </li>
       </ul>
       <p class="hint">亲，已经到底了</p>
    </div>
    <footer>
        <ul>
        	<li>返回首页</li>
        	<li>客户端</li>
        	<li>电脑版</li>
        </ul>
        <p>copyright&copy;武汉奇米网络科技有限公司</p>
    </footer>
    <div class="fontStyle" id="backTop">
      &#xe600;
    </div>
</body>
<script type="text/javascript" src="../lib/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../lib/lazyload.js"></script>
<script type="text/javascript">
     $(function(){
          document.documentElement.style.fontSize = innerWidth/16 + 'px';
          window.onresize = function(){
	          document.documentElement.style.fontSize = innerWidth/16 + 'px';
             }
          $(window).on('scroll',function(){
          	if($(this).scrollTop() > 20){
          		$('#backTop').show();
          	}else{
          		$('#backTop').hide();
          	}
          })
          $('#backTop').on('click',function(){
          	$('body').scrollTop(0);
          })
          $('.lazy').lazyload({
          	effect: "slideDown"
          })
     })
</script>
</html>