<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="../css/dlist.css">
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="../lib/jquery-2.1.1.js"></script>
</head>
<body ng-app="myApp">
	<div class="top">
		<span class="back"><a href="javascript:history.back()"></a></span>
		<p class="top-title"></p>
		<span class=""></span>
	</div>

</body>
	<script type="text/javascript" src="../js/controller/dlsit.js"></script>

</html>