<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品详情</title>
	<link rel="stylesheet" href="../css/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="../css/find_more.css">
	<script src="../lib/jquery-2.1.1.js"></script>
	<script src="../lib/angular.min.js"></script>
	<script src="../lib/lazyload.js"></script>
	<script src="../lib/swiper-3.3.1.min.js"></script>
	<script src="../lib/touch.min.js"></script>
	<script src="../js/controller/find_more.js"></script>
</head>
<body ng-app="myapp" ng-controller="myconroller">
	
	<div id="find_swiper">
		<div class="swiper-container">

	　　	<div class="swiper-wrapper">

		　　　　<div class="swiper-slide"><img src="../img/find_1.jpg"></div>

		　　　　<div class="swiper-slide"><img src="../img/find_2.jpg"></div>

		　　　　<div class="swiper-slide"><img src="../img/find_3.jpg"></div>

				<div class="swiper-slide"><img src="../img/find_4.jpg"></div>

		　　　　<div class="swiper-slide"><img src="../img/find_5.jpg"></div>

		　　　　<div class="swiper-slide"><img src="../img/find_6.jpg"></div>

	  　	</div>

			<div class="swiper-pagination"></div>

		</div>
		<a href="javascript:window.history.back()"><span></span></a>
		<span id="find_mune_more"></span>
		<div id="find_mune_more_hidden">
			<li><img src="//s.juancdn.com/jpwebapp_v1/images_v1/icon/menu_home.png?ts=0fcbfe0cabd81fed_1474628826" alt=""><a href="../index.html">首页</a></li>
			<li><img src="//s.juancdn.com/jpwebapp_v1/images_v1/icon/menu_collect.png?ts=0fcbfe0cabd81fed_1474628826" alt=""><a href="../index.html#/mine">我的收藏</a></li>
			<li><img src="//s.juancdn.com/jpwebapp_v1/images_v1/icon/menu_order.png?ts=0fcbfe0cabd81fed_1474628826" alt=""><a href="../index.html#/mine">我的订单</a></li>
		</div>
		
	</div>






	<div id="find_more_menu">
		<h3>触屏3D儿童早教手表</h3>
		<div id="find_price">
			<span>￥9.9</span>
			<span>￥39.9</span>	
			<span>包邮</span>
		</div>
		<div id="find_time"><span></span><p></p></div>
	</div>


	<div id="find_cuxiao">
		<p><span>促销</span>可享受以下促销</p>
		<div><span>满件减</span>满两件减5元</div>
	</div>




	<div id="find_promise">
		<p><span></span>人工质检</p>
		<p><span></span>24小时发货</p>
		<p><span></span>7天退货</p>
	</div>




	<div id="find_color">
		<span>颜色</span>
		<div id="find_color_box">
			<p>蓝色</p>
			<p>黄色</p>
			<p>红色</p>
			<p>白色</p>
			<p>绿色</p>
			<p>蓝表带红表</p>
		</div>
	</div>


	<div id="find_promise_title">
		<p><span>♦</span>该商品通过卷皮人工质检，质量有保证<span>♦</span></p>
	</div>



	<div id="find_imgf"></div>


	<div id="find_img_list">
		<img data-original="//s2.juancdn.com/bao/160630/f/6/5774ca51151ad1c12a8b45b3_750x1116.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/b/b/5774ca53151ad1372b8b45b9_750x1046.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/f/2/5774ca50151ad12d2b8b45bc_750x431.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/b/d/5774ca54151ad1c32a8b45b3_750x763.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/c/c/5774ca55151ad1c12b8b45a8_750x1371.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/c/5/5774ca56151ad1032b8b459f_750x1080.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/9/4/5774ca58151ad1762b8b459d_750x1408.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/8/0/5774ca59151ad17d2b8b4592_750x1088.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/9/6/5774ca5a151ad1822b8b459e_750x815.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/b/8/5774ca5b151ad1052b8b45ad_750x1018.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/7/5/5774ca5c151ad14c2e8b458f_750x646.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/0/2/5774ca5d151ad1742b8b45ad_750x1232.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/8/9/5774ca5e151ad1d72b8b45a4_750x843.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
		<img data-original="//s2.juancdn.com/bao/160630/a/2/5774ca5f151ad1e42a8b45a5_750x542.jpg?iopcmd=convert&Q=88&dst=jpg" alt="" class="lazy">
	</div>

	
	<div id="find_content">
		<div><p>已经到最底了</p></div>
		<div>
			<span><a href="../index.html">返回首页</a></span>
			<span><a href="../index.html">客户端</a></span>
			<span><a href="../index.html">电脑端</a></span>
		</div>
		<div><p>copyright &copy;武汉奇米科技网络有限公司</p></div>

	</div>
	<div id="find_bottom">
		<div><span></span><a href="../index.html#/mine">收藏</a></div>
		<div id="find_bottom_2"><span></span><a href="" id="find_cars">购物车</a><i>{{ num }}</i></div>
		<div id="find_car" ng-click="num = num + 1">加入购物车</div>
	</div>


	<div id="find_return_top">
		
	</div>

	<!-- --------------------------------- new page--------------------------------------------- -->

	<div id="find_buy" >
		<div id="find_buy_top">
			<span></span>
			<p>购物车</p>
		</div>
		<div id="find_waring">
			<p>请在(<span id="f_time1">19</span>:<span id="f_time2">59</span>)内完成付款，超时订单将自动取消</p>
		</div>
		<div id="find_zengpin">
			<p><span>满件减</span>在凑一件可件5元<a href="find_1.html"><span>></span></a></p>

		</div>
		<div id="find_thingsmore">
			<img src="../img/find_1.jpg" alt="">
			<div>
				<div>触屏3D儿童早教手表<span>￥{{9.9*num | test}}</span></div>
				<div><span id="find_colors">蓝色</span><span>￥39.9</span></div>
				<div><span id="find_jian" ng-click="num = num - 1">-</span><span>{{num}}</span><span ng-click="num = num + 1" id="find_add">+</span><a href="../index.html" id="find_guanbi"><span class="find_font">&#xe601;</span></a></div>
			</div>
		</div>


		<div id="find_thingsmore_jisuan">
			<div><span>{{9.9*num | test}}</span> - <span id="find_num">0</span> = <span>￥{{9.90*num - 0 | test}}</span></div>
		</div>



		<div id="find_youhui">
			如需使用优惠券请先<span><a href="../index.html#/mine">登陆</a></span> <span>></span>
		</div>


		<div id='find_buys'>
			<div>总金额<span>{{9.90*num | test}}</span></div>
			<div><a href="../index.html#/mine">去结算</a></div>

		</div>
	</div>


	<div id="find_mengban">
		<div>
			<img src="../img/loading_bag.png" alt="">
			<div id="find_clirl"></div>
		</div>
	</div>


</body>
</html>