<!DOCTYPE html>
<html  ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>健美生</title>
	<link rel="stylesheet" href="../css/shopcar.css">
	<link rel="stylesheet" href="../css/swiper-3.3.1.min.css">
</head>
<body>
  <div class="all">
        <a href="javascript:window.history.go(-1)" class="fontStyle" id="return">
             &#xe601;
        </a>
	    <div class="swiper-container" id="shopCar_swipe" ng-controller="myCtrl">
			　　<div class="swiper-wrapper">
			　　　　<div class="swiper-slide" ng-repeat="x in data"><img ng-src="{{x.picurl}}"></div>
			　　</div>
			　　<!-- 如果需要分页器 -->
　　            <div class="swiper-pagination"></div>
        </div>
        <div class="sale">
        <div class="price">
             <h4>世界咖啡组合(20包)</h4>
             <p><span>￥19.9</span><span>￥99.9</span><span>包邮</span></p>
             <div  class="countDwon"><span class="fontStyle">&#xe602;</span><p></p></div>
        </div>
        <div class="address">
              <img src="http://s.juancdn.com/seller/images/icons/4.gif" alt="">
              <p>越南直采：国内中转仓直发</p>
        </div>
        <div class="hotSale">
            <p><span>促销</span> &nbsp;可享受以下促销</p>
            <p><span>满件减</span> 满2件减5元，满3件减10元</p>
        </div>
        <ul class="list">
        	<li>
        	<img src="http://s.juancdn.com/jpwebapp_v1/images_v1/icon/promise.png?ts=0fcbfe0cabd81fed_1474628826">
        	正品保障
        	</li>
        	<li>
        	<img src="http://s.juancdn.com/jpwebapp_v1/images_v1/icon/promise.png?ts=0fcbfe0cabd81fed_1474628826">
        	海外直采
        	</li>
        	<li>
        	<img src="http://s.juancdn.com/jpwebapp_v1/images_v1/icon/promise.png?ts=0fcbfe0cabd81fed_1474628826">
        	免税包邮
        	</li>
        	<li>
        	<img src="http://s.juancdn.com/jpwebapp_v1/images_v1/icon/promise.png?ts=0fcbfe0cabd81fed_1474628826">
        	精选品牌
        	</li>
        </ul>
        </div>
        <div class="quality">
          <p><span></span>该商品已通过卷皮人工质检，品质有保证<span></span></p>
        </div>
        <div class="bg">
        <div class="parameter">
            <h3>商品参数</h3>
            <ul>
            	<li>
            	    <p>品牌名称</p>
            	    <p>GAGOCOFFEE</p>
            	</li>
            	<li>
            	    <p>产地</p>
            	    <p>越南</p>
            	</li>
            	<li>
            	    <p>默认物流</p>
            	    <p>圆通速递</p>
            	</li>
            	<li>
            	    <p>运费说明</p>
            	    <p>全国包邮</p>
            	</li>
            </ul>
            <a href="javascript:void(0)" class="btn">进入专场</a>
            <a href="javascript:void(0)" class="btn">购买咨询</a>
        </div>
        </div>
        <div class="goodImg" ng-controller="myCtrl-1">
          <img class="lazy" ng-repeat="x in imgData" ng-src="{{x.picurl}}"/>
          <p class="hint">亲，已经到最底了</p>
        </div>
        <footer>
        <ul>
        	<li>返回首页</li>
        	<li>客户端</li>
        	<li>电脑版</li>
        </ul>
        <p>copyright&copy;武汉奇米网络科技有限公司</p>
    </footer>
  </div>
  <div class="fixed">
       <a href="javascript:void(0)" class="collect">
          <p class="fontStyle">&#xe603;</p>
          <p>收藏</p>
       </a>
       <a href="gogoodscar.html" class="car">
          <p class="fontStyle">&#xe604;</p>
          <p>购物车</p>
       </a>
       <a href="javascript:void(0)" class="join">
           加入购物车
       </a>
  </div>
</body>
   <script src="../lib/jquery-2.1.1.js"></script>
   <script src="../lib/swiper-3.3.1.min.js"></script>   
   <script type="text/javascript" src="../lib/angular.min.js"></script>
   <script src="../js/controller/shopcar.js"></script>
   <script type="text/javascript" src="../lib/lazyload.js"></script>
</html>